.ant-table-wrapper {
  overflow: auto;

  & table {
    table-layout: auto !important;
  }
}

.relateds-by-product-table {
  .ant-table-cell {
    background: white !important;
    border-bottom: 1px solid #b0d2ff !important;
  }
  tbody tr:last-child .ant-table-cell {
    border-bottom: none !important;
  }
  .ant-table-cell-row-hover {
    background: #e0f1ff !important;
  }

  .ant-table-expanded-row {
    .ant-table-cell {
      background: rgba(0, 0, 0, 0.02) !important;
    }
    .ant-table-cell-row-hover {
      background: #e0f1ff !important;
    }
  }
}

.relateds-by-product-child-table {
  .ant-spin-nested-loading {
    padding: 1rem;
  }
}
